* {
    margin: 0;
}

#container {
    height: 640px;
    width: 700px;
    border: 0px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.square {
    border: 1px solid black;
    display: flex;
    flex-basis: 40px;
    flex-grow: 1;
}