* {
    margin: 0;
}

#container {
    height: 900px;
    width: 900px;
    border: 0px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.square {
    border: 1px solid black;
    display: flex;
    flex-grow: 1;
    box-sizing: border-box;
}